<% if user_signed_in? %>
 <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome back!</h1>
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Have experiences?</h1>
            <p>Calling on wanderers, travellers, explorers- all those on a perpetual mission to discover and embrace life..wherever your path may have lead, let's share visually!</p>
            <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %>  
    </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Vistas</h2>
            <p>To capture the essence of a place in a single view- the ultimate challenge.</p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Artworks</h2>
            <p>Inciting more than a glance, always ponder-worthy. </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Eats</h2>
            <p>Food, glorious food! A mainstay of any cultural experience, exotic or homegrown.</p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
    </div>
    </div>
    <% end %>  